body{
	text-align: center
}
.round{
	border-radius: 30px;
	background-color: purple;
	color: white
}
.email{
	color: white
}
.rightcorner{
	float:right;
}
.rightcorner div{
	float: right;
	width:auto;
	margin: 10px
}

input{
	width: 90%;
	height: 90%;
	text-indent: 20px;
	border-style: none;
	
	
}
#mic{
	width: 15px;
	margin-top:5px;
}
.header img{
	width: 15px
}
a{
	text-decoration: none;
	color:black;
}
.blue{
	color: blue;
}
.red{
	color: red;
}
.yellow{
	color: yellow;
}
.green{
	color: green;
}
h1{
	font-size: 6em;
	font-family: Arial;
}
.header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%
}
.footer{
 	position: fixed;
	left: 0;
	
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.6);
	width: 100%
}
.left{
	float: left;
}
.left span{
	margin: 10px;
}
.lefttop{
	width: 100%;
	border-bottom-color: black;
	border-bottom-style:solid 1px;
}
.lefttop div{
	text-align: left;
	width: 100%;
	margin:10px;
}
.left div{
	margin: 10px;
	float: left;
}
.right{
	width: 50%;
	float: right

}
.right div{
	float: right;
	margin:10px;
}
button{
	background-color: none;
	border:none;
	width: 150px;
	height: 40px;
	color: grey;
	margin: 10px
}
button:hover{
	color: black
}
.searchcontainer{
	margin-top: 200px
}
.searchbox{
	border-radius: 20px;
	width: 50%;
	height: 40px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: thin;

}


@media only screen and (max-width: 720px){
	h1{
		font-size: 4em
	}
	input{
		width: 70%;
	}
}

@media only screen and (max-width: 480px){
	h1{
		font-size: 3em
	}
	input{
		width: 80%;
	}
	button{
		width: 120px;

	}
	.searchcontainer{
		margin-top: 150px
	}
	.lefttop{
	width: 100%;
	border-bottom-color: black;
	border-bottom-style:solid 1px;
	}
	.lefttop div{
		text-align: left;
		width: 100%;
		margin:5px;
	}
	.left div{
		margin: 5px;
		float: left;
	}
	.right{
		width: 50%;
		float: right

	}
	.right div{
		float: right;
		margin:5px;
	}

}